.content{
    display: flex;
    flex-direction: column;
}

.navigation-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.pagination li{
    margin-right: 1.5px;
}
.pagination li a  {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.pagination li a:hover {
    background-color: #f7f7f7;
    color: #f7b851;
    border-color: #f7b851;
}

.pagination li.active span  {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    background-color: #5b256f;
    color: #f7b851;
}



.pagination li.disabled span {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #a0a0a0;
    cursor: not-allowed;
    background-color: #f0f0f0;
    border-color: #ddd;
}



